@font-face {
    font-family: 'godOfWar' ;
    src: url('font/GODOFWAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'godOfWar', sans-serif;*/
}